html, body{
	width: 100%;
	height: 100%;
	margin: 0;
}

p{
	font-family: 'Playfar', sans-serif;
	font-size: 25px;
  	font-weight: 700;
}

#title{
	background-color:#232323;
	border-radius: 20px;
	margin-top: 300px;
	color: white;
  text-align: center;
}

.container{
	width: 100%;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
}

.video1{
	height: 500px;
	width:auto;
  border-style: solid;
  border-width: 4.5px;
  border-radius: 20px;
}

.text{
	padding: 40px;
}

.text2{
  margin-top: 400px;
  margin-bottom: 400px;
  width: auto;
  height: auto;
}

.text2 p{
    font-weight: 400;
    font-size: 25px;
    font-family: 'Playfar', sans-serif;
}

.anim1, .anim2, .anim3{
	width: 100%;
	height: auto;
	margin-bottom: 50px;
	/*background-color: blue;*/
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
}

.lottie{
}

/*------arrowanimation-------*/

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
   90% {
    opacity:0.6;
  }

}

/*------arrowanimation-------*/


.arrow {
  margin-top: 60px;
  margin-bottom: 300px;
  width: 45px;
  height: auto;
  opacity: 0;
}

.arrow2{
    transition: 0.5s;
}

.bounce {
  -moz-animation: bounce 2s ;
  -webkit-animation: bounce 2s;
  animation: bounce 2s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}





@media screen and (max-width: 900px) {

.container{
	width: 100%;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
	}

.video1{
	height: 200px;
	width:auto;
	}

#title{
	width:350px;
	height:auto;
	background-color:#232323;
	border-radius: 20px;
	margin-top: 230px;
	color: white;
	text-align: center;
	}

}

@media screen and (max-width: 600px) {

.container{
	width: 100%;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
	}

.video1{
	height: 233px;
	width:auto;
  border: none;
	}

}
