:focus { outline: none; }

html,body{
	margin:0;
	width:100%;
	height:100%;
	background-color: #F1F2F2;
}

p{
font-family: "Roboto";
}

.juicer-feed{
	top: 10%;
	z-index: 1;
}

.anim img{
	z-index: 0;
	width: 300px;
	height: 300px;
}

.anim{
	width: 100%;
	height: 76%;
	padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*------arrowanimation-------*/

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
   90% {
    opacity:0.6;
  }

}

.bounce {
  -moz-animation: bounce 2s ;
  -webkit-animation: bounce 2s;
  animation: bounce 2s;
}

/*------arrowanimation-------*/

.arrowblack {
	padding-top: 500px;
	z-index: 10;
	position: absolute;
	margin-bottom: 300px;
	width: 45px;
	height: 45px;
	opacity: 0.6;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

.arroblack img{
	width: 30px;
	height: auto;
}

.indexinfo{
	width: 100%;
	height: 100%;
	background-color: #F1F2F2;
}

/*.arrow{
	width: 20px;
	height:30px;
	bottom:7%;
	right: 7%;
	position: fixed;
	cursor: pointer;
	z-index: 2;
}*/

/*.arrow:hover .seg2{
	-ms-transform: rotate(0deg); 
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -ms-transform: translate(50px, 100px); 
    -webkit-transform: translate(50px, 100px); 
    transform: translate(0px, -2px);
}*/

/*.seg1{
	left: 1px;
	width: 37px;
	height:10px;
	background-color: #4A7E80;
	border-radius: 30px;
	ms-transform: rotate(40deg); 
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    transform-origin: top left;
    position: absolute;
}*/

/*.segyellow{
	left: 1px;
	width: 37px;
	height:10px;
	background-color: #E9E590;
	border-radius: 30px;
	ms-transform: rotate(40deg); 
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    transform-origin: top left;
    position: absolute;
}*/

/*.segred{
	left: 1px;
	width: 37px;
	height:10px;
	background-color: #E9E590;
	border-radius: 30px;
	ms-transform: rotate(40deg); 
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    transform-origin: top left;
    position: absolute;
}*/
/*
.segpurple{
	left: 1px;
	width: 37px;
	height:10px;
	background-color: #C1ACD1;
	border-radius: 30px;
	ms-transform: rotate(40deg); 
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    transform-origin: top left;
    position: absolute;
}
*/
/*.seg2{
	top:4px;
	left: -4px;
	width: 38px;
	transform-origin: center left;
	height:10px;
	z-index:2;
	background-color: black;
	border-radius: 30px;
	ms-transform: rotate(-40deg); 
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
    position: absolute;
    transition: 0.4s ease;
}*/

/*#logo{
	z-index: 3;
	width: 70px;
	right: 0px;
	height: auto;
	position: absolute;
	cursor: pointer;
	transition: 0.5s;
	stroke:white;
	stroke-width:1;
}

.m{
	fill:#F1F2F2;
	height: 4px;
}

.m, .intd, .art, .face, .paper{
	transition: 0.4s;
}

#logo:hover .m {
	fill: #FFFFFF;
	stroke:#FFFFFF;
    opacity:1;
    stroke-width:5;
}*/

#arch, #strokes, #info, #news{
	z-index: 2;
	width: 91px;
	height: auto;
	cursor: pointer;
	transition: 0.5s;
	stroke:black;
	stroke-width:1;
    float: left;
}

p{
	margin: 5px;
}


.infoimg{
	height: 100%;
	width: 100%;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 500px;
/*    margin-bottom:700px;*/
}

.infoimg img{
	height: auto;
	width: 100%;
}

img{
	height: auto;
	width: 100%;
}


/*------info------*/



.profile{
	padding-top: 90px;
	width: 100%;
	height: 100%;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile img{
	height: auto;
	width: 80%;
	object-fit: cover;
	transition: 1s;
	border-radius: 20px
}

.addinfo p{
	font-size: 26px;
	margin: 0;
	padding: 45px;
	position: absolute;
	/*font-family: 'Raleway', sans-serif;*/
	color: white;
	width: 80%;
	transition: 0.5s;
	background-color: black;
	border-radius: 20px;
	/*border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;*/
	text-align: center;
}

.addinfo{
	width: 100%;
	height: 700px;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contact{
	width: 100%;
	height: 300px;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
}

.contact p{
	font-size: 26px;
	margin: 0;
	padding: 45px;
	position: absolute;
	/*font-family: 'Raleway', sans-serif;*/
	color: white;
	width: 80%;
	transition: 0.5s;
	background-color: black;
	border-radius: 20px;
	/*border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;*/
	text-align: center;
}


/*------info------*/


.footer{
	height: 300px;
	width: 100%;
	background-color: black;
}


.a, .b, .c, .d{
	z-index: 3;
	opacity: 0;
	width: 100%;
	margin-top:6px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	position: absolute;
	transition: 0.4s;
	font-weight: 300;
}

.logos{

	padding-top: 20px;
	display: flex;
  	justify-content: space-between;
	right:0px;
	top:2%;
	height: 100px;
	width: 500px;
	margin: auto;
}


#arch:hover .intd {
	fill: #4A7E80;
	stroke:#4A7E80;
	stroke-width:4;
	width: 95px;
}

#arch:hover .d{
	opacity: 1;
}

#strokes:hover .art {
	fill: #B13643;
	stroke:#B13643;
	stroke-width:4;
}

#info:hover .face {
	fill: #E9E590;
	stroke:#E9E590;
	stroke-width:4;
}

#news:hover .paper {
	fill: #C1ACD1;
	stroke:#C1ACD1;
	stroke-width:4;
}


@media only screen and (max-width: 1024px) {
.logos{
	display: none;
	}

#wormmenu{
	display: block;
	}

.navbar{
	display:block;
	}

	.anim{
		width: 100%;
		height: 100%;
	}

	.infoimg{
	height: 300px;
	width: 100%;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px
	}

	.addinfo p{
	font-size: 16px;
	margin: 0;
	/*padding: 25px;*/
	position: absolute;
	/*font-family: 'Raleway', sans-serif;*/
	color: white;
	width: 80%;
	transition: 0.5s;
	background-color: black;
	border-radius: 20px;
	/*border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;*/
	text-align: center;
	}

	.addinfo{
		margin-top: 0px;
		margin-bottom: 50px;
	}

	.contact{
	width: 100%;
	height: 300px;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 500px;
	}
}
